__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class
.vscode/
*.vscode
*.png
*.pth
*.jpg
checkpoints/
adaptclip_checkpoints/
adaclip_checkpoints/
result_adaptclip/
result_winclip/
results/
dataset/MVTec/
dataset/MVTec-3D/
dataset/MVTec3D/
dataset/Visa/
workspace/
text_json/
taiji/
pointad/
*.pyc
dataset/BTAD
dataset/MVTec_corruption
dataset/VisA_corruption
dataset/BTAD_corruption
difficulty_splits/